.project {
    height: 400px;
    width: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    cursor: pointer;
    border-radius: 40px;

}

.photo{
    border-radius: 20px;
    margin: 20px auto;
    height: 90%;
    width: 90%;
    background-color: lightblue;
}

.description {
 background-color: gray;

}

.title {
    margin: 10px 0 10px 10px;
    background-color: gray;
}

.text {
    width: 80%;
    background-color: gray;
    margin-left: 10px;
    margin-bottom: 10px;

}
