.project {
    width: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.photo{
    height: 80%;
    width: 100%;
    background-color: lightblue;
}

.description {
 background-color: gray;

}

.title {
    margin: 10px 0 10px 10px;
    background-color: gray;
}

.text {
    width: 80%;
    background-color: gray;
    margin-left: 10px;
    margin-bottom: 10px;
}
