.footerBlock{
    height: 200px;
    background-color: mediumvioletred;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.links {
    margin-top: 20px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link{
    background-color: gray;
    width: 20px;
    height: 20px;
}